.my-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 100vw;
  background-color: rgb(220, 220, 220);
}
hr {
  position: absolute;
  top: 56px;
  left: 0px;
  height: 7px;
  background-color: #6b6767;
  width: 100vw;
}
.navbar {
  background-color: rgb(220, 220, 220);
}

.ant-menu-item-selected {
  font-weight: 500;
  background-color: #e5e5e5;
}
